<h1><%= @stylist.stylist_name() %></h1>

<% if @stylist.clients().any?() %>
	<h3><%= @stylist.stylist_name() %>'s Clients:</h3>
	<ul>
		<% @stylist.clients().each() do |client| %>
		<li><%= client.client_name %></li>
		<% end %>
	</ul>

<% else %>
	<h3>There are no clients associeated with this stylist.</h3>
<% end %>

<div class="container">
	<p></p>
	<a href="/stylists">View All Stylists</a>
	<p></p>
	<a href="/stylists/new">Add New Stylist</a>
	<p></p>
	<a href="/clients/<%= @stylist.id() %>">Add New Client</a>
	<p></p>
	<a href="/stylists/<%= @stylist.id() %>/edit">Edit <%= @stylist.stylist_name() %></a>
	<p></p>
	<a href="/"><button class="button btn">Return Home</a>